body {
  font-family: "Inter", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #89F7FE, #66A6FF); 
  color: #0d47a1;
}

header h1 {
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: #1565c0;
}

h2 {
  color: #1976d2;
  margin-top: 10px;
}

img {
  display: block;
  margin: 0 auto 20px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

section {
  margin-top: 10px;
}

#about {
  background-color: #bbdefb;
  color: #0d47a1;
  padding: 10px;
  border-radius: 8px;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0d47a1;
  position: fixed;
  top: 0;
  width: 100%;
}

ul.navbar li {
  float: left;
}

ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
